{% extends "pages/base.html" %}
{% load static %}
{% block title %}Kết quả tìm kiếm{% endblock  %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/result.css' %}"/>
<link rel="shortcut icon" href="{% static 'favicon/favicon.png' %}"/>

<div class="container">
    <div class="head-thumbnail">
        <h1 class = "display-4">Chi tiết tác phẩm</h1>
    </div>
    <div class="content">
        {% for i in t %}
            <i><p>Tên tác phẩm: {{i.ten_sach}}</p>
            <p>Tên tác giả: {{i.ten_tac_gia}}</p>
            <p>Năm xuất bản: {{i.nam_xuat_ban}}</p></i>

        {% endfor %}
        <p><b>Nội dung: </b></p>
        <p class = "text-justify">{{final}}</p>
    </div>
</div>

{% endblock %}
